body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
	position: absolute;
	top: 0;
	left: 0;
}

.sing {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.bar {
    position: absolute;
    // opacity:0;
}


#banner {
	background: #fff;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    #bars1 {
        position: absolute;
        top: 4px;
        left: 0;
        // width:728px;
        // height: 81px;
        // transform: rotate(90deg);

    }

    #thd_logo {
        position: absolute;
        bottom: 20px;
        right: 30px;
        width:28px;
    }

    #cta {
        position: absolute;
        bottom: 20px;
        left: 30px;
        // width:28px;
    }

    #intro {
        position: absolute;
        top: 200px;
        left: 103px;
        // width:28px;
    }

    #lockup {
        position: absolute;
        top: 200px;
        left: 0;
        // width:28px;
    }

    #bars_bg {
        background-color: #9D8377;
        position: absolute;
        top: 4px;
        left: 0;
        width: $banner-width;
        height: 41px;
        // opacity: 0;
    }

    #cover {
        position: absolute;
        top: 0;
        left: 97px;
        width: 129px;
        height: 50px;
        background-color: #fff;
        // opacity: 0;
    }

    #overlay2 {
        opacity: 0;
    }

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    #border {
		display: block;
		width: $banner-width;
		height: $banner-height;
        pointer-events: none;
		outline: solid 1px #ccc;
  		outline-offset: -1px;
		z-index: 999;
    }

    
}
